.navbar-link {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

.navbar-link-container {
    display: flex;
    flex-direction: column;
}

.underline {
    width: 100%;
    border-bottom: 3px solid rgb(0, 197, 148);
}