body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: rgb(0, 4, 17);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-top: 5rem;
  width: 1200px;
  height: 400px;
  display: flex;
  place-content: center;
  overflow: hidden;
  border-radius: 30px;
}

.item {
  width: 56%;
  overflow: visible;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.controls {
  height: 3rem;
  width: 100%;
  background-color: rgb(73, 0, 116);
  -webkit-box-shadow: inset 0px -8px 15px -10px #000411;
  box-shadow: inset 0px -12px 30px -10px #000411;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.reset-animation {
  margin: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

