body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: rgb(0, 4, 17);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}









